* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left, .middle, .right {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
}

.right,
.middle,
.left {
    padding: 10px;
    transition: transform .2s;
    width: 100%;
}

.left {
    left: 0;
    z-index: 1;
    background-color: lightgrey;
}

.right {
    right: 0;
    z-index: 3;
    background-color: darkgrey;
}

.middle {
    padding: 10px;
    z-index: 2;
    background-color: white;
}

.right,
.middle {
    transform: translateX(100%);
}

.right.show,
.middle.show {
    transform: translateX(0);
}


/* Tablet */
@media screen and (min-width: 768px) {
    .left {
        width: 300px;
    }

    .right {
        width: calc(100% - 300px);
    }

    .middle {
        transform: translateX(0);
        left: 300px;
        width: calc(100% - 300px);
    }

    #chat-back-button {
        display: none;
    }
}


.chat-list-item {
    padding: 12px 10px;
    border-bottom: 1px solid darkgrey;
    cursor: pointer;
}

.chat-list-item:hover {
    background-color: lightcyan;
}


.chat-message {
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 40px;
    border-radius: 5px;
    width: calc(100% - 30px);
}

.chat-message:nth-child(2n) {
    margin-left: 30px;
}

/* Desktop */
@media screen and (min-width: 992px) {
    .right,
    .left {
        width: 400px;
    }

    .right {
        transform: translateX(0);
    }

    .middle {
        width: calc(100% - 800px);
        left: 400px;

    }

    #close-info-button,
    #chat-back-button,
    #show-info-button {
        display: none;
    }

}